.footerWidgets {
    background-color: #3B3B3B;
}
.footerWidgetItem {

}
.footerWidgetItem h4 {
    color: #fff;
}
.footerWidgetItem a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-bottom: 12px;
    transition: color 300ms;
}
.footerWidgetItem a:hover {
    color: #E96B56;
}
.footerWidgetItem a svg {
    color: #E96B56;
}
.footerCopyright {
    background-color: #404040;
}
.footerCopyright p {
    color: #fff;
    font-size: 14px;
}
.footerCopyright p a {
    color: #E96B56;
    text-decoration: none;
}

